{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block contents %}
<div class="kanteki">
    <h1 class="opponent">{{ opponent }}</h1>
    <table id="hit-table" class="hit-table">
        <tbody>
            {% for row in range(4) %}
            <tr class="hit-tr">
                {% for col in range(num_people) %}
                <td class="cell">
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="ite-table">
        <tr class="ite">
        {% for i in range(num_people, 0, -1) %}
            <td class="ite-number">{{ i }}</td>
        {% endfor %}
    </table>

    <div class="tRtK">
        <h1 id="totalRes" class="totalRes">結果：{{ hit }}中</h1>
        <h1 id="toKyousya" class="toKyousya">
            <form action="{{ url_for('kyousya') }}" method="post">
                <button type="submit">競射</button>
            </form>
        </h1>
    </div>
</div>

<p class="return"><a href="{{ url_for('index') }}">TOP</a></p>

{% endblock %}
{% block script %}
<script id="app-data" type="application/json">
    {{ {
        "res": res,
        "mode": mode,
        "display_time": display_time
    } | tojson }}
</script>
<script src="{{ url_for('static', filename='script.js') }}"></script>
{% endblock %}