{% extends "base.html" %}

{% block title %}

{% endblock %}

{% block contents %}
<div class="kyousya">
    <h2 class="opponent">{{ opponent }}</h2>
    <table id="hit-table" class="hit-table">
        <tbody>
            {% for row in range(2) %}
            <tr class="hit-tr">
                {% for col in range(num_people) %}
                <td class="cell"></td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <table class="ite-table">
        <tr class="ite">
        {% for i in range(num_people, 0, -1) %}
            <td class="ite-number">{{ i }}</td>
        {% endfor %}
        </tr>
    </table>

    <div class="tRtK">
        <h2 id="totalRes" class="totalRes">結果：{{ hit }}中</h2>
        <h2 id="toKyousya" class="toKyousya">
            <form action="{{ url_for('kyousya2') }}" method="post">
                <button type="submit">競射</button>
            </form>            
        </h2>
    </div>
</div>

<p class="return"><a href="{{ url_for('index') }}">TOP</a></p>

{% endblock %}
{% block script %}
<script id="app-data" type="application/json">
    {{ {
        "res": res,
        "mode": mode,
        "display_time": display_time
    } | tojson }}
</script>

<script src="{{ url_for('static', filename='kyousya.js') }}"></script>

{% endblock %}